*{
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
}

.link {
    padding-left: 110px;
    margin-bottom: 15px;
}

.link a {
    text-decoration: none;
}

.link a:hover{
    text-decoration: underline;
}

.container {
    width: 100%;
    height: 100vh;
    background: #edf0f5;
}

.left-container {
    position: relative;
    top: 180px;
    left: 200px;
}

.left-container h1 {
    color: dodgerblue;
    font-size: 60px;
    font-family: sans-serif;
    padding: 3px;
}

.left-container p {
    width: 400px;
    line-height: 33px;
    font-size: 30px;
}

.right-container {
    width: 400px;
    margin-top: 20px;
    margin-left: 700px;
    background: #fff;
    padding: 14px;
    border-radius: 10px;
    height: 325px;
    box-shadow:0 2px 4px rgb(0, 0, 0, 0.1),0 8px 16px rgb(0, 0, 0, 0.1) ;
}

form.myform {
    display: flex;
    flex-direction: column;
    background: #fff;
}

input.form-group {
    padding: 16px;
    margin-bottom: 10px;
    border: 1px solid #d4def3;
    border-radius: 7px;
    outline: none;
    position: sticky;
}

button.btn1 {
    margin-bottom: 10px;
    margin-top: 5px;
    border: 1px solid #eeeff4;
    padding: 16px;
    cursor: pointer;
    font-size: 20px;
    border-radius: 10px;
    background: dodgerblue;
    color: #fff;
    transition:background-color 0.3s;
}

button.btn1:hover{
    background-color: royalblue;
}




button.btn2 {
    margin: auto;
    width: 200px;
    margin-bottom: 10px;
    margin-top: 15px;
    border: 1px solid #eeeff4;
    padding: 16px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 10px;
    background: #00b300;
    color: #fff;
    transition:background-color 0.3s;
}

button.btn2:hover{
    background-color: #009900;
}

p.foot {
    margin-top: 24px;
    margin-left: 27px;
}

.foot a {
    text-decoration: none;
}

.foot a:hover{
    text-decoration: underline;
}